/* Table of Top3 Heroes CSS styles */
#top-list {
  border-collapse: collapse;
  width: 40%;
  border: 1px solid #c6c6c6;
  margin-bottom: 20px;
}

#top-list th{
  border-collapse: collapse;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  color: white;
  background-color: #3f525c;
  padding: 5px 9px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

#top-list td{
  border-collapse: collapse;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  padding: 5px 9px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  word-break: break-all;
}

tr.heroes-row:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}
